@font-face {
	font-family: 'DuctusGeometric';
	src: url('/assets/fonts/DuctusGeometric.woff2'),
}
@font-face {
	font-family: 'Stilu-Light';
	src: url('/assets/fonts/Stilu-Light.woff2'),
}

@font-face {
	font-family: 'Stilu-SemiBold';
	src: url('/assets/fonts/Stilu-SemiBold.woff2'),
}
html{
    background-color: white;
}
body {
	font-family: 'Stilu-Light';
    background-color: rgb(252, 244, 233);
}

html, body{
    width: 100vw;
    margin:0;
}

header{
    background-color: rgb(255, 255, 255);
    height: 7vh;
    width: 100vw;
    position: static;
}
.menu{
    position: sticky;
    z-index: 10;
    margin: 0 10vw;
}

.cercle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: green;
    margin: 12px;
}

.page{
    position: absolute;
    width: 100vw;
    height: 93vh;
    border : 1px solid black;
    overflow: hidden;
}

.page.bio-left1{
    left: -100vw;
    top: 7vh
}
/* page bio left */
.page.bio-left2{
    left: -100vw;
    top : 100vh;
    overflow: auto;
}

/* page web dev */
.page.web-right1{
    left: 100vw;
    top: 7vh;
}

.col li img{
    width: 10%;
}


.page.web-right2{
    left: 100vw;
    top : 100vh;
    overflow: auto;
}

.page.accueil-centre{
    left: 0;
    width: 100vw;
    height: 93vh;
    /* padding: 10vh, 5vw; */
    overflow: hidden;
    top : 7vh;
    margin: 0 10vw;
    position: relative;
}
.page.projets-centre{
    left : 0;
    top : 100vh;
    overflow: auto;
}
.move{
    transition: transform 1s linear;
}

/* footer reseaux sociaux */

footer{
    min-height: 10px;
    position: absolute;
    width: 10vw;
    bottom: 10vh;
    display: flex;
    align-items: flex-end;
}

ul{
    list-style: none;
}

.logo{
    min-height: 10px;
    max-width: 3vw;
    align-items: center;
}

.cv{
    text-decoration: none;
}

.text-cv{
    text-decoration: none;
    font-family: "Stilu-SemiBold";
    font-size: 120%;
    color: black;
    margin-top: 2%;
}

/* accueil nom titre */
.nom{
    color: green;
    width: fit-content;
    z-index: 1;
}

h1{
    font-family: 'DuctusGeometric';
    font-size:170% ;
    margin: 0% 0 0 0;
}

h4{
    font-size: 110%;
    margin: 2% 0 0.75% 0 ;
}
/* section bloc page accueil  */

#orange{
    width: 30vw;
    height: 40vh;
    border-radius: 63% 23% 28% 38% / 52% 29% 63% 24%;
    background-color: rgba(255, 77, 0, 0.816);
    margin: 0 10% 0 20%;
    transform: translate(6vw, 7vh);
}

.text-orange{
    transform: translate(6vw, 7vh) rotate(335deg);
    color: white;
    width: fit-content;
}

.blocs{
    z-index: 2;
    position: absolute;
    top: 40px; left: 40px;
}



