@font-face {
    font-family: 'DuctusGeometric';
    src: url('../fonts/DuctusGeometric.woff2'),
}

@font-face {
    font-family: 'Stilu-Light';
    src: url('../fonts/Stilu-Light.woff2'),
}

@font-face {
    font-family: 'Stilu-SemiBold';
    src: url('../fonts/Stilu-SemiBold.woff2'),
}

body {
    font-family: 'Stilu-Light';
}

html,
body {
    width: 100vw;
    margin: 0;
    background-color: rgb(251, 231, 228);
}

header {
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 100vw;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.menu {
    margin: 0 12vw;
    /* position: sticky; */
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cercle {
    top: 0.7vw;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: rgba(0, 186, 0, 1);
    z-index: 100;
    position: relative;
}

.menu_burger img{
    width: 60px;
    margin-top: 10px;
    padding-left: 15px ;
    padding-top: 2px;
}

.menu_burger{
    visibility: hidden;
}

.menu_burger ul{
    max-height: 10vh;
    overflow: hidden;
    transition : max-height 0.5s linear;
}


.menu_burger:hover{
    width: 15vw;
    max-height: 512px;
    background-color: white;
    z-index: 10;
}

nav li:hover{
    border-bottom: solid 1px white;
}
.page {
    position: absolute;
    width: 80vw;
    height: 82vh;
    margin: 0 10vw;
    padding: 5vh 0;

}

/* page d'accueil // centre  */
.page.accueil-centre {
    left: 0;
    top: 7vh;
    width: 80vw;
    height: 82vh;
    overflow: hidden;
    margin: 0 10vw;
    padding: 5vh 0;
    position: relative;
}

/* accueil nom titre */
.nom {
    color: rgba(0, 186, 0, 1); 
    width: fit-content;
    z-index: 1;
}

h1 {
    font-family: 'DuctusGeometric';
    font-size: calc(1.2rem + 1.5vw);
    margin: 0;
}

h2 {
    font-family: 'DuctusGeometric';
    font-size: calc(0.4rem + 1.4vw);
    margin: 0;
}

h4 {
    font-size: calc(0.8rem + 0.7vw);
    margin: 2% 0 0.75% 0;
}

h5 {
    font-family: 'DuctusGeometric';
    font-size: calc(0.5rem + 0.5vw);
    margin: 0;
}

span {
    text-decoration: underline;
}

.load1{
    animation: animateIn 1500ms ease forwards
}

.load2{
    animation: animateIn 1000ms ease 300ms forwards
}

.load3{
    animation: animateIn 1000ms ease 500ms forwards
}

.load4{
    animation: animateIn 1000ms ease 700ms forwards
}

@keyframes animateIn
{
    0%{
        opacity: 0;

    }

    30%{
        opacity: 0,5;

    }
    
    100%{
        /* // fade in */
        opacity: 1;
    }
}


/* section bloc page accueil  */
#orange_bio {
    width: 29vw;
    height: 20vw;
    border-radius: 63% 23% 28% 38% / 52% 29% 63% 24%;
    background-color: rgba(255, 77, 0, 0.816);
    margin: 0 10% 0 20%;
    transform: translate(6vw, 10vw);
}

.text-orange {
    transform: translate(5vw, 3.5vw) rotate(335deg);
    color: white;
    width: fit-content;
}

#bleu_projet {
    width: 27vw;
    height: 20vw;
    border-radius: 48% 52% 70% 30% / 69% 54% 46% 31%;
    background-color: rgba(65, 105, 225, 0.816);
    transform: translate(2vw, 7vh);
    z-index: 2;
}

.text-bleu {
    transform: translate(-0.5vw, 6vw) rotate(300deg);
    color: white;
    width: fit-content;
}

#rose_web {
    width: 35vw;
    height: 30vw;
    border-radius: 65% 35% 40% 60% / 31% 79% 21% 69%;
    background-color: rgba(235, 122, 221, 0.87);
    transform: translate(30vw, -30vw);
    z-index: 2;
    animation: blob 8s ease-in-out infinite, float 125s ease-in-out infinite;
}

.text-rose {
    transform: translate(20vw, 0.9vw) rotate(12deg);
    color: white;
    width: fit-content;
}

.text-rose2 {
    transform: translate(24vw, 0.8vw) rotate(50deg);
    color: white;
    width: fit-content;
}

#rouge_grafic {
    width: 25vw;
    height: 18vw;
    border-radius: 13% 87% 57% 43% / 49% 57% 43% 51%;
    background-color: rgba(255, 39, 7, 0.85);
    transform: translate(23vw, -42vw);
    z-index: 2;
}

.text-rouge {
    transform: translate(12vw, 4vw) rotate(29deg);
    color: white;
    width: fit-content;
}

.blocs {
    z-index: 2;
    position: absolute;
    top: 40px;
    left: 40px;
}


.floating {
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes floating {
    0% {
        transform: translate(0vw, 0vw);
    }

    50% {
        transform: translate(0vw, 1vw);
    }

    100% {
        transform: translate(0vw, 0vw);
    }
}



/* page web dev droite */

.page.web-right1 {
    width: 80vw;
    left: 100vw;
    margin: 0 10vw;
    top: 6.5vh;
    height: 80vh;
    padding: 5vh 0;
    overflow: hidden;
    color: white;
}

.rose_form {
    width: 68vw;
    height: 52vw;
    border-radius: 68% 24% 24% 62% / 33% 38% 50% 59%;
    background-color: rgba(235, 122, 221, 0.87);
    top: -6vw;
    left: 0vw;
    position: absolute;
}

.text_web {
    position: relative;
    z-index: 5;
    top: 2vw;
    left: 13vw;
}

.text_web p {
    width: 25vw;
    font-size: 1vw;
}

.logos_web {
    display: grid;
    grid-template-columns: repeat(2, 40px);
    grid-template-rows: repeat(8, 50px);
    width: 120px;
    grid-gap: 7px 40px;
    align-items: center;
    justify-items: center;
    grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g h"
    "i j"
    "k l"
    "m n"
    "o p";
    position: relative;
    top: -37vh;
    left: 50vw;
    z-index: 10;
}


.logo1{
    grid-area: a;
    width: 2.8vw;
}

.logo2{
    grid-area: c;
    width: 4vw;
}

.logo3{
    grid-area: e;
}

.logo4{
    grid-area: g;
}

.logo5{
    grid-area: j;
    width: 5vw;
}

.logo6{
    grid-area: d;

}

.logo7{
    grid-area: b;
    width: 3vw;
}

.logo9{
    grid-area: h;
    width: 2.5vw;
}

.logo10{
    grid-area: k;
    width: 2.5vw;
}

.logo11{
    grid-area: l;
    width: 2.5vw;
}

.logo12{
    grid-area: i;
    width: 2.5vw;
}
.logo13{
    grid-area: m;
    width: 2.5vw;
}

.logo14{
    grid-area: n;
    width: 2.5vw;
}

.logo15{
    grid-area: o;
    width: 2.5vw;
}

.logo16{
    grid-area: p;
    width: 2.5vw;
}

/* cercle tourne stage */

.circle {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 100vmax;
	display: flex;
	align-items: center;
	justify-content: center;
    z-index: 14;
    left: 8vw;
    top: -50vh;

}

.logo {
	position: absolute;
	width: 130px;
	height: 130px;
	background-color:rgba(65, 105, 225);
	/* background-size: cover; */
	border-radius: 100vmax;
	background-position: center;
}

.text {
	position: absolute;
    font-family: 'DuctusGeometric';
	width: 100%;
	height: 100%;
	color: rgba(65, 105, 225);
	font-size: 14px;
	animation: textRotation 8s linear infinite;
}


@keyframes textRotation {
	to {
		transform: rotate(360deg);
	}
}

.text span {
	position: absolute;
    text-decoration: none;
	left: 50%;
	font-size: 1.1em;
	transform-origin: 0 100px;
}

.dateStage{
    position: absolute;
    font-family: 'DuctusGeometric';
    color: white;
	font-size: 14px;
    z-index: 14;
    left: 3.7vw;
    top: 4.7vh;
    width: 6vw;
    text-align: center;
}


/* page graphiste droite bas */

.page.graphiste-right2 {
    left: 100vw;
    top: 107vh;
    margin: 0vh 10vw;
    width: 80vw;
    height: 82vh;
    padding: 5vh 0;
    color: white;
    overflow: hidden;

}

.text_graphiste {
    position: relative;
    z-index: 5;
    top: 6vw;
    left: 15vw;
}

.text_graphiste p {
    width: 25vw;
    font-size: 1vw;
}

.design {
    display: grid;
    grid-template-columns: repeat(1, 20px);
    grid-template-rows: repeat(4, 30px);
    grid-gap: 50px;
    justify-items: center;
    grid-template-areas:
    "a"
    "b"
    "c";
    position: relative;
    top: -12vw;
    left: 55vw;
    z-index: 6;
}


.logo_a{
    grid-area: a;
    width: 1vw;
}

.logo_b{
    grid-area: b;
    width: 4vw;
}

.logo_c{
    grid-area: c;
}


.design img {
    width: 4vw;
}

.rouge_form {
    width: 62vw;
    height: 42vw;
    border-radius: 68% 45% 24% 62% / 33% 45% 66% 59%;
    background-color: rgba(255, 39, 7, 0.85);
    top: 2vw;
    left: 5vw;
    position: absolute;
}



/* page bio left */

.page.bio-left {
    left: -100vw;
    top: 7vh;
    width: 70vw;
    height: 83vh;
    overflow: hidden;
}

.titre{
    padding: 0 0 2vw 11vw;
}
#bio h1{
    color: rgba(255, 77, 0, 0.816) ;
}

.timeline h4{
    color: rgba(255, 77, 0, 0.816); 
}

.timeline h5{
    line-height: 0.5;
}

.timeline p{
    line-height: 0.5;
}

.timeline{
    display: grid;
    padding: 0vw 4vw 0 11vw;
    grid-template-columns: repeat(3, 19vw);
    grid-gap: 10px;
    grid-template-rows: repeat(5vh,13vh, 13vh, 13vh, 13vh);
    justify-items: left;
    grid-template-areas:
    "a b c" 
    "d e f"
    "g h i"
    "j k l"
    "m n o"
    "p q r";
    position: relative;
}

.bioTitre1 {
    grid-area: a;
    height: 5vh;
    
}
.bioTitre2 {
    height: 5vh;
    grid-area: b;
}
.bioTitre3 {
    height: 5vh;
    grid-area: c;
}

.left1{
    grid-area: d;
}

.middle1{
    grid-area: e;
}

.right1{
    grid-area: f;
}

.left2{
    grid-area: m;
}

.middle2{
    grid-area: h;
}

.right2{
    grid-area: i;
}

.middle3{
    grid-area: k;
}

.right3{
    grid-area: l;
}

.left3{
    grid-area: p;
}
.middle4{
    grid-area: n;
}

.middle5{
    grid-area: q;
}

.parcours{
    width: 16vw;
    height: 14vh;
    border-radius: 50% 30% / 50% 40%;
    border: 2px solid rgba(255, 77, 0, 0.816);
    padding: 0vw 1vw 0vw 2vw;
}

.formation{
    width: 15vw;
    height: 14vh;
    border-radius: 30% 20% / 30% 40%;
    background-color: rgba(255, 77, 0, 0.816);
    padding: 0vw 1vw 0vw 2vw;
    color: white;
}

.content p{
    line-height: 20%;
}

/* page contact left bas*/

.page.contact-left2 {
    width: 80vw;
    left: -100vw;
    top: 107vh;
    height: 82vh;
    padding: 5vh 0;
}

.contact h1{
    color: white;
    position: relative;
    top: 14vh;
    left: 14vw;
}

.contact p{
    color: white;
    font-family: 'Stilu-SemiBold';

}
.vert_form {
    width: 68vw;
    height: 40vw;
    border-radius: 100% 72% 99% 70% / 77% 79% 89% 96%;
    background-color: rgba(0, 186, 0, 1);
    top: 3vw;
    left: 0vw;
    position: absolute;
    z-index: -10;
}

form{
    width: 40vw;
    position: relative;
    top: 22vh;
    left: 15vw;
}

input[type="text"]{
    width: 30vw;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px dotted white;
    font-family: 'Stilu-SemiBold';
    font-size: 1vw;
    color: white;
    margin: 0 1vw 2vh 0;
}

input[type="email"]{
    width: 30vw;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px dotted white;
    font-family: 'Stilu-SemiBold';
    font-size: 1vw;
    color: white;
    margin: 0 1vw 2vh 0;
}

::placeholder {
    color: 2px solid white ;
    opacity: 1;
    font-family: 'Stilu-SemiBold';
    font-size: 1vw;
}

button{
    border: 2px solid white;
    border-radius: 30% 70% 70% 30% / 30% 59% 41% 70% ;
    width: 8vw;
    height: 5vh;
    padding: 0.2vw;
    background: rgba(0, 186, 0, 1);
    font-family: 'DuctusGeometric';
    font-size: 1vw;
    color: white;
}
button:hover{
    border: 2px solid white;
    border-radius: 46% 54% 46% 54% / 63% 74% 26% 37% ;
    width: 8vw;
    height: 5vh;
    padding: 0.2vw;
    background: rgba(255, 255, 255, 0.894);
    font-family: 'DuctusGeometric';
    font-size: 1vw;
    color: rgba(0, 186, 0, 1);
}

.stage{
    width: 20vw;
    height: 12vw;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-color: rgba(65, 105, 225, 0.816);
    color: white;
    position: relative;
    top: 15vh;
    left: 46vw;
    padding: 2.5vw;
}
.stage p{
    font-size: calc(0.6rem + 0.6vw);
}


/* page projet centre bas */
.page.projets-centre {
    width: 80vw;
    left: 0;
    top: 107vh;
    overflow: auto;
    margin: 0 10vw;
    padding: 5vh 0;
    height: 82vh;
}

.movable {
    transition: transform 1s linear;
}

/* footer reseaux sociaux */

footer {
    position: relative;
    bottom: 55vh;
    left: 83vw;
}

ul {
    list-style: none;
}

.cv {
    text-decoration: none;
}

.vert {
    background-color: rgba(0, 186, 0, 1);
    min-height: 40px;
    max-width: 30px;
}

.orange {
    background-color: rgba(255, 77, 0, 0.816);
    min-height: 40px;
    max-width: 30px;
}

.rose {
    background-color: rgba(235, 122, 221, 0.87);
    min-height: 40px;
    max-width: 30px;
}

.rouge {
    background-color: rgba(255, 39, 7, 0.85);
    min-height: 40px;
    max-width: 30px;
}

.bleu {
    background-color: rgba(65, 105, 225, 0.816);
    min-height: 40px;
    max-width: 30px;
}

.git {
    mask: url("../img/rs/github.svg") no-repeat center;
}

.in {
    mask: url("../img/rs/linkedin-in.svg") no-repeat center;
}

.enveloppe {
    mask: url("../img/rs/envelope-solid.svg") no-repeat center;
}

.cv {
    mask: url("../img/rs/note-sticky-solid.svg") no-repeat center;
}

@keyframes blob {
    0% {
        border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
    }

    25% {
        border-radius: 85% 54% 62% 42% / 83% 45% 75% 63%;
    }

    50% {
        border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
    }

    25% {
        border-radius: 60% 54% 50% 25% / 35% 61% 39% 65%;
    }

    50% {
        border-radius: 66% 39% 67% 33% / 70% 50% 50% 30%;
    }

    75% {
        border-radius: 89% 54% 62% 42% / 83% 45% 75% 63%;
    }

    100% {
        border-radius: 65% 60% 35% 50% / 65% 38% 75% 36%;
    }
}